torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
soundfile
numpy==1.26.4
torch_audiomentations
tqdm~=4.66.5
matplotlib~=3.9.2
pandas~=2.2.3
wandb
comet_ml
hydra-core
editdistance~=0.8.1
datasets~=3.0.1
wget~=3.2

black
isort
pre-commit

omegaconf~=2.3.0
pillow~=10.4.0
